.header .navbar-dark .navbar-toggler-icon,
.header .navbar-dark .navbar-toggler-icon::before,
.header .navbar-dark .navbar-toggler-icon::after,
.home-section,
.section-title .title::before,
.header,
.features-section .features-item:hover,
.products-section .owl-carousel .owl-nav button.owl-next,
.products-section .owl-carousel .owl-nav button.owl-prev,
.testimonial-section::before,
.newsletter-section::before,
.mybtn2,
.footer
{
    background-color: #d70d25;
}

.mybtn1,
.about-section .about-content ul li i,
.section-title .title,
.products-section .product-content .product-price .new-price,
.features-section .features-item .icon i,
.testimonial-section .client-info h5,
.faq-section .support-text a,
.contact-section .contact-item .icon i,
.contact-section .contact-item h5
{
    color: #d70d25;
}
.contact-section .contact-form .form-control:focus,
.testimonial-section .client-info img{
    border-color: #d70d25;
}

@media(max-width: 991px){
.header .navbar-light .navbar-toggler{
    background-color: #d70d25;
    }
}










































